<div class="system-info-card border-idle">
    <div class="status-dot idle"></div>
    <div class="system-title"> SISTEMA DE</div>
    <div class="system-title-name"> CITAS</div>
    <div class="system-divider"></div>
    <div class="system-database">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-cloud">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-time-response">
        <img src="/assets/img/alerta.png" alt="">
        15 min: 50 seg
    </div>
</div>
<div class="system-info-card border-idle">
    <div class="status-dot idle"></div>
    <div class="system-title"> SISTEMA DE</div>
    <div class="system-title-name"> RECAUDADOR</div>
    <div class="system-divider"></div>
    <div class="system-database">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-cloud">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-time-response">
        <img src="/assets/img/alerta.png" alt="">
        15 min: 50 seg
    </div>
</div>
<div class="system-info-card border-idle">
    <div class="status-dot idle"></div>
    <div class="system-title"> SISTEMA DE</div>
    <div class="system-title-name"> RH</div>
    <div class="system-divider"></div>
    <div class="system-database">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-cloud">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-time-response">
        <img src="/assets/img/alerta.png" alt="">
        15 min: 50 seg
    </div>
</div>
<div class="system-info-card border-idle">
    <div class="status-dot idle"></div>
    <div class="system-title"> SISTEMA DE</div>
    <div class="system-title-name"> RH</div>
    <div class="system-divider"></div>
    <div class="system-database">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-cloud">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-time-response">
        <img src="/assets/img/alerta.png" alt="">
        15 min: 50 seg
    </div>
</div>
<div class="system-info-card border-idle">
    <div class="status-dot idle"></div>
    <div class="system-title"> SISTEMA DE</div>
    <div class="system-title-name"> RH</div>
    <div class="system-divider"></div>
    <div class="system-database">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-cloud">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-time-response">
        <img src="/assets/img/alerta.png" alt="">
        15 min: 50 seg
    </div>
</div>
<div class="system-info-card border-idle">
    <div class="status-dot idle"></div>
    <div class="system-title"> SISTEMA DE</div>
    <div class="system-title-name"> RH</div>
    <div class="system-divider"></div>
    <div class="system-database">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-cloud">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-time-response">
        <img src="/assets/img/alerta.png" alt="">
        15 min: 50 seg
    </div>
</div>
<div class="system-info-card border-idle">
    <div class="status-dot idle"></div>
    <div class="system-title"> SISTEMA DE</div>
    <div class="system-title-name"> RH</div>
    <div class="system-divider"></div>
    <div class="system-database">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-cloud">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-time-response">
        <img src="/assets/img/alerta.png" alt="">
        15 min: 50 seg
    </div>
</div>
<div class="system-info-card border-idle">
    <div class="status-dot idle"></div>
    <div class="system-title"> SISTEMA DE</div>
    <div class="system-title-name"> RH</div>
    <div class="system-divider"></div>
    <div class="system-database">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-cloud">
        <div class="status-dot idle"></div>
    </div>
    <div class="system-time-response">
        <img src="/assets/img/alerta.png" alt="">
        15 min: 50 seg
    </div>
</div>