<div *ngIf="MonitoredApplication != undefined" class="system-info-card border-idle">
    <div class="status-dot idle"></div>
    <div class="system-title"> SISTEMA DE</div>
    <div class="system-title-name"> {{MonitoredApplication.systemName}}</div>
    <div class="system-divider"></div>
    <div class="system-database" *ngIf="MonitoredApplication.databases != undefined">
        <div class="status-dot idle" *ngIf="MonitoredApplication.databases.length > 0"></div>
    </div>
    <div class="system-cloud" *ngIf="MonitoredApplication.websites != undefined">
        <div class="status-dot idle" *ngIf="MonitoredApplication.websites.length > 0"></div>
    </div>
    <div class="system-time-response">
        <img src="/assets/img/alerta.png" alt="">
        <!-- 15 min: 50 seg -->
        {{timeDiff}}
    </div>
</div>