<div id="mySidenav" class="sidenav bg-white">
    <a href="javascript:void(0)" class="closebtn" (click)="sidemenu.closeNav()">
        <span class="material-icons">
            close
        </span>
    </a>
    <div *ngIf="sidemenu.CURRENT_SYSTEM != undefined" class="ml-5 container">
        <div>
            <!-- servicios web -->
            <table aria-describedby="Servicios web de este sistema" class="styled-table">
                <thead>
                    <tr class="error">
                        <th>Error</th>
                        <th>Descripción</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody class="error-body">
                    <tr *ngFor="let error of sidemenu.CURRENT_SYSTEM.errors; let i = index;"
                        [ngClass]="{'active-row': i === sidemenu.CURRENT_SYSTEM.errors.length - 1}">
                        <td><button (click)="ResolveIssue(error.id)" type="button"
                                class="btn btn-primary">Resuelto</button>
                        </td>
                        <td><a>{{error.description}}</a></td>
                        <td>{{error.timestamp | date:'yyyy/MM/dd, hh:mm aaa'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Sitios web -->
        <table aria-describedby="Páginas web de este sistema" class="styled-table">
            <thead>
                <tr>
                    <th>Sitios web</th>
                    <th>URL</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let web of sidemenu.CURRENT_SYSTEM.websites; let i = index;"
                    [ngClass]="{'active-row': i === sidemenu.CURRENT_SYSTEM.websites.length - 1}">
                    <td>{{web.name}}</td>
                    <td><a [href]="web.url">{{web.url| shortenUrl}}</a></td>
                    <td [ngClass]="{
                        'idle-font-color':web.statusResponseCode >= 200,
                        'inconsistency-font-color':web.statusResponseCode >= 400,
                        'out-of-service-font-color':web.statusResponseCode >= 500
                    }">{{web.statusResponseCode}}</td>
                </tr>
            </tbody>
        </table>
        <!-- servicios web -->
        <table aria-describedby="Servicios web de este sistema" class="styled-table">
            <thead>
                <tr>
                    <th>Servicios web</th>
                    <th>URL</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let web of sidemenu.CURRENT_SYSTEM.webservices; let i = index;"
                    [ngClass]="{'active-row': i === sidemenu.CURRENT_SYSTEM.websites.length - 1}">
                    <td>{{web.name}}</td>
                    <td><a [href]="web.url">{{web.url | shortenUrl}}</a></td>
                    <td [ngClass]="{
                        'idle-font-color':web.statusResponseCode >= 200,
                        'inconsistency-font-color':web.statusResponseCode >= 400,
                        'out-of-service-font-color':web.statusResponseCode >= 500
                    }">{{web.statusResponseCode}}</td>
                </tr>
            </tbody>
        </table>

        <!-- Bases de datos -->
        <table aria-describedby="Servicios web de este sistema" class="styled-table">
            <thead>
                <tr>
                    <th>BD</th>
                    <th>URL</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bd of sidemenu.CURRENT_SYSTEM.databases; let i = index;"
                    [ngClass]="{'active-row': i === sidemenu.CURRENT_SYSTEM.databases.length - 1}">
                    <td>{{bd.name}}</td>
                    <td><a [href]="bd.url">{{bd.url | shortenUrl}}</a></td>
                    <td [ngClass]="{
                        'idle-font-color':bd.statusResponseCode >= 200,
                        'inconsistency-font-color':bd.statusResponseCode >= 400,
                        'out-of-service-font-color':bd.statusResponseCode >= 500
                    }">{{bd.statusResponseCode}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>