.menu {
    position: relative;
}

.title {
    font-family: 'Futura_Heavy';
    font-size: 35px;
    color: #707070;
}

.title b {
    color: #862347;
}

.config {
    position: absolute;
    font-family: 'Futura_Heavy';
    font-size: 20px;
    top: 5px;
    right: 0;
    margin-right: 15px;
}
.config a {
    color: #707070;
}
#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.anti-snow {
    position: relative;
    z-index: 150;
}