<div class="table-responsive">
    <table class="table table-hover table-striped table-lg w-auto">
      <thead>
        <tr>
          <th>#</th>
          <th>url</th>
          <th>name</th>
          <th>token</th>
          <th>statusResponseCode</th>
          <th>responseType</th>
          <th>property</th>
          <th>propertyDataType</th>
          <th>isOkValue</th>
          <th>isDownValue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ws of Webservices">
          <td>{{ws.id}}</td>
          <td>{{ws.url|truncate:12:false}}</td>
          <td>{{ws.name}}</td>
          <td>
            <button (click)="copy(ws.token)" *ngIf="ws.token;else anadir">Copiar</button>
            <ng-template #anadir>
              <button (click)="addToken()">Añadir</button>
            </ng-template>
            
          </td>
          <td>{{ws.statusResponseCode}}</td>
          <td>{{ws.responseType}}</td>
          <td>{{ws.property}}</td>
          <td>{{ws.propertyDataType}}</td>
          <td>{{ws.isOkValue}}</td>
          <td>{{ws.isDownValue}}</td>
        </tr>
      </tbody>
    </table>
  </div>